.dropdown 
{
	position:absolute;
	display: inline-block;
}

.dropdown-content 
{
	display:none;
	position:absolute;
	background-color:#FA9C1D;
}

.dropdown-content a 
{
	color: black;
	padding: 10px 12px;
	text-decoration: none;
	display: block;
	min-width:80px
}

.dropdown-content a:hover {background-color: #400080;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .topmenu {background-color: #3e8e41;}
